* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #555;
    overflow-x: hidden;
    transition: width .5s;
}

.nav a {
    display: block;
    padding: 8px 24px;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    color: #ccc;
}

.nav a:hover {
    color: white;
}

.nav a.close-btn {
    text-align: right;
    padding-right: 18px;
    font-size: 32px;
}

.content {
    display: inline-block;
    padding: 24px;
    transition: margin-left 0.5s;
}

.content span {
    font-size: 2.2em;
    cursor: pointer;
}

.content p {
    padding: 12px 0;
}