/* latin-ext */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.navbar-container {
    background-color: #000000;
    color: white;
    overflow: hidden;
    font-size: 16px;
}

.nav-item {
    float: left;
    padding: 12px 18px;
    text-decoration: none;
    color: white;
}

.dropdown-btn {
    position: relative;
    padding: 14px 18px;
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.nav-dropdown-content {
    position: absolute;
    display: none;
    background-color: white;
}

.nav-dropdown-content a {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #000000;
}

.navbar-container>a:hover,
.nav-dropdown-content>a:hover {
    background-color: #cccccc;
    color: #000000;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}

.nav-dropdown:hover .dropdown-btn {
    background-color: #cccccc;
    color: #000000;
}

.dropdown-arrow {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    top: 2px;
    border: 5px solid transparent;
    border-top: 5px solid white;
}

.nav-dropdown:hover .dropdown-arrow {
    top: -4px;
    border: 5px solid transparent;
    border-bottom: 5px solid #000000;
}

a.search-btn,
a.menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding: 8px 24px;
}

i.search-icon,
i.menu-icon {
    padding-top: 1px;
    color: white;
}

a.search-btn:hover {
    background-color: red;
}

a.menu-btn:hover i {
    color: #000000;
}

a.menu-btn {
    display: none;
}

.navbar-small-screen {
    position: absolute;
    display: none;
    width: 100%;
    overflow: hidden;
}

.navbar-small-screen a {
    display: block;
    padding: 12px 18px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navbar-small-screen a:hover {
    background-color: #222222;
}

.images-slide:not(:first-child) {
    display: none;
}

.images-slide img {
    width: 100%;
}

.img-des {
    position: relative;
    color: white;
    top: -140px;
    margin: 0 auto;
    text-align: center;
}

.img-des h3 {
    padding: 12px;
    font-size: 2em;
}

.img-des p {
    margin: 12px;
    font-size: 1.2em;
}

.band-about {
    margin-top: -120px;
    padding: 24px;
    overflow: hidden;
}

.band-about h3 {
    padding: 12px;
    text-align: center;
    font-size: 2em;
}

.band-about p.slogan {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
    color: #999999;
}

.band-members {
    position: relative;
    margin: 36px 0;
}

.img-member {
    float: left;
    width: 33.3%;
    padding: 8px 12px;
}

.img-members:after {
    content: "";
    display: table;
    clear: both;
}

.img-member h4 {
    text-align: center;
}

.img-member img {
    width: 100%;
}

.tour-dates {
    padding: 80px 0;
    background-color: #000000;
    color: white;
}

.tour-dates h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2em;
}

.tour-dates>p {
    margin: 24px 0;
    text-align: center;
    color: #999999;
    font-style: italic;
}

.tour-months {
    max-width: 1000px;
    margin: 0 auto;
    background: white;
    color: #555555;
    border: 6px solid #000;
    border-top: none;
    border-bottom: none;
}

.tour-month {
    position: relative;
    padding: 6px 12px;
    border-bottom: 1px solid #e0e0e0;
}

.label-sold-out {
    margin-left: 16px;
    padding: 0 8px;
    background-color: tomato;
    color: white;
}

.tour-count {
    float: right;
    right: 24px;
    padding: 0 8px;
    background-color: #000000;
    border-radius: 24px;
    color: white;
}

.tour-cities {
    max-width: 1000px;
    margin: 24px auto;
    overflow: hidden;
}

.tour-cities:after {
    content: "";
    display: table;
    clear: both;
}

.tour-city {
    width: 33.3%;
    float: left;
    background-color: white;
    border: 6px solid #000;
}

.tour-cities:nth-child(1) {
    margin: 0 6px;
}

.tour-city h4,
.tour-city p {
    font-size: 0.9em;
    padding: 8px 12px;
    color: #000;
}

h4.tour-date {
    color: #999999;
}

.tour-city img {
    width: 100%;
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
    filter: brightness(100%);
}

.tour-city img:hover {
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    -o-filter: brightness(70%);
    -ms-filter: brightness(70%);
    filter: brightness(70%);
}

.btn-buy-ticket {
    margin: 12px;
    padding: 12px 16px;
    border: none;
    outline: none;
    background-color: #000000;
    color: white;
}

.btn-buy-ticket:hover {
    background-color: #999999;
    color: #000;
}

.contact {
    margin: 72px auto;
    max-width: 1000px;
    overflow: hidden;
}

.contact>h2 {
    text-align: center;
    font-size: 1.8em;
    letter-spacing: 4px;
}

.contact>p {
    margin: 18px;
    text-align: center;
    font-style: italic;
}

.contact-container {
    padding: 0 6px;
    margin-top: 48px;
    overflow: hidden;
}

.contact-address,
.contact-feedback {
    display: inline-block;
    width: 50%;
    overflow: hidden;
}

.feedback {
    overflow: hidden;
}

.contact-address>span {
    display: block;
}

.full-width {
    width: 100%;
}

.feedback-name,
.feedback-email {
    float: left;
    width: 50%;
}

.contact-icon {
    position: relative;
    top: 4px;
}

.half-left {
    padding-right: 8px;
}

.half-right {
    padding-left: 8px;
}

input.feedback-item {
    width: 100%;
    padding: 12px 8px;
    margin-bottom: 8px;
}

input.feedback-msg {
    width: 100%;
    padding: 12px 8px;
    margin-bottom: 8px;
}

.feedback input[type=submit] {
    display: block;
    float: right;
    margin: 12px 0;
    padding: 12px 16px;
    outline: none;
    border: none;
    font-size: 1em;
    background-color: #000;
    color: #fff;
}

.feedback input[type=submit]:hover {
    background-color: #999999;
    color: #000;
}

.footer {
    margin: 64px 0;
    overflow: hidden;
}

.footer-find-us {
    margin: 36px auto;
    text-align: center;
}

.footer-icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-facebook:before {
    content: "\f230";
}

.icon-instagram:before {
    content: "\f16d"
}

.icon-snapchat:before {
    content: "\f2ab"
}

.icon-pinterest:before {
    content: "\f0d2"
}

.icon-twitter:before {
    content: "\f099"
}

.icon-linkedin:before {
    content: "\f0e1"
}

i.hover-opacity:hover:before {
    opacity: 0.6;
}

.footer p {
    text-align: center;
}

.footer a {
    color: #000;
}

@media screen and (max-width: 600px) {
    .navbar-container>a:not(:first-child),
    .nav-dropdown {
        display: none;
    }
    .navbar-container>a.menu-btn {
        display: block;
    }
    .img-des {
        display: none!important;
    }
    .band-about {
        margin-top: 0px;
    }
    .img-member {
        float: none;
        width: 100%;
    }
    .tour-dates {
        padding: 80px 12px;
    }
    .tour-city {
        width: 100%;
        float: none;
    }
    .contact-address,
    .contact-feedback,
    .feedback-name,
    .feedback-email {
        float: none;
        width: 100%;
    }
    .half-left {
        padding-right: 0;
    }
    .half-right {
        padding-left: 0;
    }
}

@media screen and (min-width: 601px) {
    .navbar-small-screen {
        display: none!important;
    }
}