<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Band Template</title>
    <link rel="stylesheet" type="text/css" href="band.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</header>

<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="navbar-container">
            <a class="nav-item" href="#">HOME</a>
            <a class="nav-item" href="#">BAND</a>
            <a class="nav-item" href="#">TOUR</a>
            <a class="nav-item" href="#">CONTACT</a>
            <div class="nav-dropdown fl">
                <button class="dropdown-btn">MORE <i class="dropdown-arrow"></i></button>
                <div class="nav-dropdown-content">
                    <a href="#">Merchandise</a>
                    <a href="#">Extras</a>
                    <a href="#">Media</a>
                </div>
            </div>
            <a class="search-btn" href="javascript:void(0)"><i class="search-icon material-icons">search</i></a>
            <a class="menu-btn" id="menu_btn" href="javascript:void(0)"><i class="menu-icon material-icons">menu</i></a>
        </div>
    </div>

    <!-- Navbar on small screens -->
    <div class="navbar-small-screen" id="navbar_small_screen">
        <a href="#">BAND</a>
        <a href="#">TOUR</a>
        <a href="#">CONTACT</a>
        <a href="#">MERCH</a>
    </div>

    <!-- Page content -->
    <div class="content">

        <!-- Image slides  -->
        <div class="image-slides">
            <div class="images-slide">
                <img src="images/img_01.jpg" alt="Los Angeles">
            </div>
            <div class="images-slide">
                <img src="images/img_02.jpg" alt="Los Angeles">
            </div>
            <div class="images-slide">
                <img src="images/img_03.jpg" alt="Los Angeles">
            </div>
            <div class="img-des">
                <h3 id="img-des-title">Los Angeles</h3>
                <p id="img-des-content">The Streets will make you feel brand new</p>
            </div>
        </div>

        <!-- The Band Section -->
        <div class="band-about">
            <h3>Guns N Roses</h3>
            <p class="slogan">We love music</p>
            <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="band-members">
                <div class="img-member">
                    <h4>Name</h4>
                    <img src="images/img_04.jpg" alt="band member">
                </div>
                <div class="img-member">
                    <h4>Name</h4>
                    <img src="images/img_04.jpg" alt="band member">
                </div>
                <div class="img-member">
                    <h4>Name</h4>
                    <img src="images/img_04.jpg" alt="band member">
                </div>
            </div>
        </div>

        <!-- Tour Dates -->
        <div class="tour-dates">
            <h2>TOUR DATES</h2>
            <p>Remember to book your tickets!</p>
            <div class="tour-months">
                <div class="tour-month">
                    <span>September</span><span class="label-sold-out">Sold out</span>
                </div>
                <div class="tour-month">
                    <span>October</span><span class="label-sold-out">Sold out</span>
                </div>
                <div class="tour-month">
                    <span>November</span><span class="tour-count">3</span>
                </div>
            </div>
            <div class="tour-cities">
                <div class="tour-city">
                    <img src="images/img_05.jpg">
                    <h4>New York</h4>
                    <h4 class="tour-date">Fri 27 Nov 2016</h4>
                    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                    <button class="btn-buy-ticket">Buy Tickets</button>
                </div>
                <div class="tour-city">
                    <img src="images/img_06.jpg">
                    <h4>Paris</h4>
                    <h4 class="tour-date">Sat 28 Nov 2016</h4>
                    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                    <button class="btn-buy-ticket">Buy Tickets</button>
                </div>
                <div class="tour-city last-one">
                    <img src="images/img_07.jpg">
                    <h4>San Francisco</h4>
                    <h4 class="tour-date">Sun 29 Nov 2016</h4>
                    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                    <button class="btn-buy-ticket">Buy Tickets</button>
                </div>
            </div>
        </div>

        <!-- CONTACT -->
        <div class="contact">
            <h2>CONTACT</h2>
            <p>Fan?Drop a note!</p>
            <div class="contact-container">
                <div class="contact-address fl">
                    <span><i class="material-icons contact-icon">room</i> Chicago, US</span>
                    <span><i class="material-icons contact-icon">phone</i> Phone:+00 151515</span>
                    <span><i class="material-icons contact-icon">email</i> Email:mail@mail.com</span>
                </div>
                <div class="contact-feedback fr">
                    <form class="feedback full-width" action="">
                        <div class="feedback-name half-left">
                            <input class="feedback-item" type="text" placeholder="Name" required>
                        </div>
                        <div class="feedback-email half-right">
                            <input class="feedback-item" type="text" placeholder="Email" required>
                        </div>
                        <input class="feedback-msg" type="text" placeholder="Message" required>
                        <input type="submit" value="SEND">
                    </form>
                    <a></a>
                </div>
            </div>
        </div>
    </div>
    <script src="band.js"></script>
</body>

</html>