* {
    margin: 0;
    padding: 0;
}

.accordion {
    width: 100%;
    padding: 12px 20px;
    text-align: left;
    font-size: 1.1em;
    color: #444;
    background-color: #eee;
    cursor: pointer;
    outline: none;
    border: none;
}

.panel {
    padding: 0 20px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 12px;
    color: #222;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\2796';
}