<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8" />
    <title>Someone's Blog</title>
    <link rel="stylesheet" type="text/css" href="blog.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</header>

<body>
    <!-- header -->
    <div class="header">
        <h1>SOMEONE'S BLOG</h1>
        <p>Welcome to the blog of <span>Someone</span></p>
    </div>

    <!-- content -->
    <div class="content">
        <!-- articles -->
        <div class="articles fl">
            <div class="article card">
                <img src="images/img_01.jpg">
                <h2>TITLE HEADING</h2>
                <p>Title description, <span>April 7, 2014</span></p>
                <p class="article-preview">Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt
                    sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                <div class="article-footer">
                    <button>READ MORE >></button>
                    <span>Comments<i>0</i></span>
                </div>
            </div>
            <div class="article card">
                <img src="images/img_02.jpg">
                <h2>TITLE HEADING</h2>
                <p>Title description, <span>April 7, 2014</span></p>
                <p class="article-preview">Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt
                    sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                <div class="article-footer">
                    <button>READ MORE >></button>
                    <span>Comments<i>0</i></span>
                </div>
            </div>
        </div>

        <!-- side menu -->
        <div class="menu fr">
            <div class="about card">
                <img src="images/img_03.jpg">
                <h3>My Name</h3>
                <p class="article-preview">Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
            </div>
            <div class="popular-post card">
                <h3>Popular Posts</h3>
                <div class="popular-article">
                    <img src="images/img_04.jpg">
                    <div class="popular-article-info">
                        <h4>Lorem</h4>
                        <p>Sed mattis nunc</p>
                    </div>
                </div>
                <div class="popular-article">
                    <img src="images/img_05.jpg">
                    <div class="popular-article-info">
                        <h4>Ipsum</h4>
                        <p>Praes tinci sed</p>
                    </div>
                </div>
                <div class="popular-article">
                    <img src="images/img_06.jpg">
                    <div class="popular-article-info">
                        <h4>Dorum</h4>
                        <p>Ultricies congue</p>
                    </div>
                </div>
                <div class="popular-article">
                    <img src="images/img_07.jpg">
                    <div class="popular-article-info">
                        <h4>Mingsum</h4>
                        <p>Lorem ipsum dipsum</p>
                    </div>
                </div>
            </div>
            <div class="tags card">
                <h3>Tags</h3>
                <div class="tags-container">
                    <span class="active">Travel</span>
                    <span>New York</span>
                    <span>London</span>
                    <span>IKEA</span>
                    <span>NORWAY</span>
                    <span>DIY</span>
                    <span>Ideas</span>
                    <span>Baby</span>
                    <span>Family</span>
                    <span>News</span>
                    <span>Clothing</span>
                    <span>Shopping</span>
                    <span>Sports</span>
                    <span>Games</span>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <button class="previous">Previous</button>
        <button class="next">Next >></button>
        <div class="clear"></div>
        <span>Powered by <a href="#">whaaat</a></span>
    </div>
    <script src="blog.js"></script>
</body>

</html>