* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.card {
    background: white;
    border-radius: 2px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif
}

body {
    background-color: #f1f1f1;
}

.header {
    padding: 48px 0;
    text-align: center;
}

.header p {
    margin: 24px 0;
}

.header span {
    padding: 2px 8px;
    background-color: #000;
    color: #fff;
}

.content {
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

.articles {
    width: 66.666%;
    padding: 0 16px;
    overflow: hidden;
}

.article,
.about,
.popular-post,
.tags {
    display: inline-block;
    width: 100%;
    margin: 16px 0;
    overflow: hidden;
}

.menu {
    width: 33.333%;
    padding: 0 16px;
}

.article img,
.about img {
    width: 100%;
}

.article h2,
.article p,
.article-footer {
    margin: 16px;
}

.article span {
    color: #999999;
}

.article-preview {
    padding: 16px 0;
}

.article-footer button {
    padding: 12px 24px;
    border: 1px solid #e0e0e0;
    font-size: 0.9em;
    background-color: white;
}

.article-footer button:hover {
    background-color: #e0e0e0;
}

.article-footer span {
    float: right;
    padding: 12px 0;
    color: #000;
}

.article-footer i {
    margin-left: 12px;
    padding: 2px 8px;
    font-style: normal;
    background-color: #000;
    color: white;
}

.about h3 {
    margin: 16px 16px 0 16px;
}

.about p {
    margin: 0 16px 0 16px;
}

.popular-post>h3,
.tags>h3 {
    padding: 16px;
    background-color: #cccccc;
}

.popular-article {
    padding: 16px;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
}

.popular-article:hover {
    background-color: #dddddd;
}

.popular-post img {
    width: 48px;
    float: left;
}

.popular-article-info {
    float: left;
    margin-left: 12px;
    padding-top: 4px;
    overflow: hidden;
}

.popular-article-info p {
    margin-top: 6px;
    font-size: 14px;
}

.tags-container {
    padding: 16px;
}

.tags-container span {
    display: inline-block;
    margin: 8px 0;
    padding: 4px 6px;
    background-color: #eeeeee;
    font-size: 14px;
}

span.active {
    background-color: #000;
    color: white;
}

.footer {
    padding: 32px 16px;
    background-color: #616161;
    overflow: hidden;
}

.footer button {
    float: left;
    padding: 16px 24px;
    font-size: 16px;
    border: none;
    outline: none;
}

button.previous {
    color: #cccccc;
    background-color: #444444;
    cursor: not-allowed;
}

button.previous:hover {
    background-color: #333333;
}

button.next {
    margin-left: 12px;
    color: #fff;
    background-color: #000;
}

button.next:hover {
    color: #555555;
    background-color: #cccccc;
}

button.next:after {
    content: "";
    display: table;
    clear: both;
}

.footer span {
    display: block;
    margin: 36px 0 12px 0;
    color: white;
}

.footer a {
    color: white;
}

@media screen and (max-width: 800px) {
    .articles {
        width: 100%;
    }
    .menu {
        width: 100%;
    }
}